body {
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#app {
    background-color: none;
}
#game {
    background-color: none;
}

.line {
    height: 6px;
    background-color: rgb(46, 46, 46);
    width: 70px;
    margin: 8px auto;
}